language: ruby
sudo: false

matrix:
  fast_finish: true
  include:
    - rvm: 2.3
      gemfile: spec/gemfiles/mongoid5_rails42.gemfile
    - rvm: 2.4
      gemfile: spec/gemfiles/mongoid5_rails42.gemfile
    - rvm: 2.4
      gemfile: spec/gemfiles/mongoid6_rails50.gemfile
    - rvm: 2.4
      gemfile: spec/gemfiles/mongoid7_rails52.gemfile
    - rvm: 2.5
      gemfile: spec/gemfiles/mongoid7_rails52.gemfile
    - rvm: ruby-head
      gemfile: spec/gemfiles/mongoid_head.gemfile
    - rvm: rbx-head
      gemfile: spec/gemfiles/mongoid_head.gemfile
    - rvm: jruby-head
      gemfile: spec/gemfiles/mongoid_head.gemfile
  allow_failures:
    - rvm: ruby-head
      gemfile: spec/gemfiles/mongoid_head.gemfile
    - rvm: rbx-head
      gemfile: spec/gemfiles/mongoid_head.gemfile
    - rvm: jruby-head
      gemfile: spec/gemfiles/mongoid_head.gemfile

services:
  - mongodb
